@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&display=swap");

* {
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
  outline: none;
  border: none;
}

html {
  font-size: 65%;
}

body {
  background-color: rgb(17, 17, 17);
  padding-left: 40rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 40rem;
  background: #1a1a1a;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header .headerInformation img {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  margin-top: 25%;
  border: 0.5rem solid #1a1a1a;
  border-radius: 20%;
  object-fit: cover;
}

header .headerInformation .name {
  font-size: 3rem;
  color: #fff;
}

header .headerInformation .position {
  font-size: 2rem;
  color: #fff;
}

header .navbar {
  width: 100%;
  padding-bottom: 5rem;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li a {
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 1rem 5rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
}

header .navbar ul li a:hover {
  background: rgb(13, 128, 57);
}

.heading {
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin: 0 3rem;
  font-size: 4rem;
  border-bottom: 0.1rem solid rgba(8, 116, 31, 0.267);
}

.heading span {
  color: rgb(13, 128, 57);
}

i {
  margin: 1rem;
}

menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  border-radius: 1rem;
  visibility: hidden;
}

section {
  min-height: 90vh;
  padding: 1rem 0;
}

.about {
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  font-size: 2rem;
}
.about span {
  color: rgb(13, 128, 57);
}
.about h1 {
  font-size: 3.5rem;
}

.about p {
  font-size: 2rem;
  padding: 1rem 0;
}

.cv-button {
  background: #333;
  color: #fff;
  margin-top: 2rem;
  padding: 0.5rem 3.5rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5rem;
}

.cv-button:hover {
  background: rgb(13, 128, 57);
}

.education .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  margin: 2rem 0 15rem 0;
}

.education .container .item {
  position: relative;
  margin: 4rem 1rem;
  padding-left: 4rem;
  width: 40rem;
  height: 20rem;
  border-left: 0.2rem solid rgba(8, 116, 31, 0.267);
}

.education .container .item span {
  font-size: 1.5rem;
  border-radius: 5rem;
  padding: 0.5rem 3rem;
  background: #222;
  color: #fff;
}

.education .container .item h3 {
  font-size: 2rem;
  padding-top: 1.5rem;
  color: #fff;
}

.education .container .item p {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #fff;
}

.experience {
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  font-size: 2rem;
}

.experience h2 {
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.github-button {
  background: #333;
  color: #fff;
  margin-top: 2rem;
  padding: 0.5rem 3.5rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5rem;
}

.github-button:hover {
  background: rgb(13, 128, 57);
}

.skills .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 6rem 2rem;
}

.skills .container .item {
  width: 250px;
  margin: 3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(129, 129, 129, 0.267);
}

.skills .container .item lable {
  font-size: 2rem;
  margin: 1rem;
  color: #fff;
}

.progress {
  width: 100%;
  max-width: 80px;
  height: 10px;
  background: rgba(129, 129, 129, 0.267);
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ee8207,
    #e5e907 17%,
    #3deb11 34%,
    #05ca50 51%,
    #07dabd 68%,
    #0e9fd8 85%,
    #094ddf
  );
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .content .title {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
  font-weight: normal;
}

.on-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  display: none;
  width: 3rem;
  height: 3rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .about {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  header.toggle {
    left: 0%;
  }

  menu {
    visibility: visible;
  }
  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .skills .container {
    margin-top: 2rem;
  }

  .skills .container .item {
    margin: 1.5rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 2rem;
  }

  .education .container {
    margin: 2rem;
  }
  .experience {
    font-size: 2rem;
    padding: 0 5rem;
  }
  .skills .container {
    margin-top: 2rem;
  }
}
